body{
    background: rgb(177, 199, 185);
    background-image: url('img/milkshakespeare.jpg');
    background-size: 110%;
    background-repeat: repeat-y;
    /*background-position: center;*/
}

p{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

#menu {
    margin-top: 20px;
}

#menu ul {
    text-align: center;
    list-style: none;
}

#menu ul li {
    display: contents;
}

#menu ul li a {
    padding: 2px 10px;
    font-size: 22px;
    background-color: rgb(236, 86, 161);
    color: black;
    text-decoration: none;
    border-bottom: 3px solid rgb(189, 6, 82);
    border-radius: 10px;
}

#menu ul li a:hover {
    background-color: rgb(189, 6, 82);
    color: #fff;
    transition: 1s;
}

#cardapio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
}

#cardapio img {
    padding: 5px;
    width: 300px;
    height: 200px;
    border-radius: 50px;
}

#item{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.85);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

